/* micro-5-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Micro 5";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/micro-5-v2-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* monofett-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Monofett";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/monofett-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* silkscreen-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Silkscreen";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/silkscreen-v6-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* silkscreen-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Silkscreen 700";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/silkscreen-v6-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/inter-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* single-day-regular - korean */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Single Day";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/single-day-v19-korean-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Fonts */
:root {
  --fs-15: calc(15 / 16 * 1rem);
  --fs-16: calc(16 / 16 * 1rem);
  --fs-24: calc(24 / 16 * 1rem);
  --fs-30: calc(30 / 16 * 1rem);
  --fs-32: calc(32 / 16 * 1rem);
  --fs-36: calc(36 / 16 * 1rem);
  --fs-40: calc(40 / 16 * 1rem);
  --fs-48: calc(48 / 16 * 1rem);
  --fs-64: calc(64 / 16 * 1rem);
  --fs-70: calc(70 / 16 * 1rem);
  --fs-80: calc(80 / 16 * 1rem);

  /* Mobile FSize */
  --font-size-banner-title: var(--fs-40);
  --font-size-banner-name: var(--fs-15);
  --font-size-greeting: var(--fs-15);
  --font-size-name: var(--fs-24);
  --font-size-shortabout: var(--fs-24);
  --font-size-topnav: var(--fs-16);
  --font-size-sectiontitle: var(--fs-16);
  --font-size-headerfooter: var(--fs-32);

  /* Desktop FSize*/
  @media (width >= calc(600 / 16 * 1rem)) {
    /* more than 600 is desktop size */
    --font-size-banner-title: var(--fs-64);
    --font-size-banner-name: var(--fs-24);
    --font-size-greeting: var(--fs-24);
    --font-size-name: var(--fs-36);
    --font-size-shortabout: var(--fs-24);
    --font-size-topnav: var(--fs-30);
    --font-size-sectiontitle: var(--fs-36);
    --font-size-headerfooter: var(--fs-48);
  }
}

/* Colors */
:root {
  --c-flagred: hsl(350, 96%, 43%);
  --c-punchred: hsl(353, 86%, 54%);
  --c-icewhite: hsl(197, 24%, 94%);
  --c-lightgray: hsl(0, 0%, 90%);
  --c-black: hsl(0, 0%, 0%);
  --c-white: hsl(0, 0%, 100%);

  --color-main-bg: var(--c-icewhite);
  --color-banner-bg: var(--c-flagred);
  --color-intro-bg: var(--c-punchred);
  --color-menu-bg: var(--c-lightgray);

  --color-text-blk: var(--c-black);
  --color-text-white: var(--c-white);
}

/* Scales */
:root {
  /* Mobile Scales */
  --hero-bg-size: 500px 900px;
  --hero-padding: 50px 0px;
  --hero-height: 90vh;
  --hero-min-height: 100px;
  --hero-greet1-line-height: 100px;
  --hero-greet2-line-height: 150px;
  --top-nav-gap: 25px;

  /* Desktop Scales */
  @media (width >= calc(600 / 16 * 1rem)) {
    --hero-bg-size: 1600px 1000px;
    --hero-padding: 200px 75px;
    --hero-height: 110vh;
    --hero-min-height: 900px;
    --hero-greet1-line-height: 50px;
    --hero-greet2-line-height: 200px;
    --top-nav-gap: 50px;
  }
}

* {
  /** to remove margin (set to zero) and cover the whole webpage **/
  margin: 0px;
}

a {
  /** to remove underlines after visiting the hyperlink **/
  text-decoration: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

@layer component {
  /* STYLING */
  /* HERO */
  .hero {
    display: flex;
    background: url("/img/hero-section-bg.png") no-repeat center;
    background-size: var(--hero-bg-size);
    height: var(--hero-height);
    min-height: var(--hero-min-height);
    color: var(--color-text-white);
  }
  .hero .max-width {
    display: flex;
    max-width: 2000px;
    padding: var(--hero-padding);
    margin: auto;
    align-items: center;
  }
  .hero .greet-first-line {
    font-family: "Silkscreen 700", Arial, Helvetica, sans-serif;
    font-size: var(--font-size-greeting);
    white-space: nowrap;
    line-height: var(--hero-greet1-line-height);
  }
  .hero .greet-second-line {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: var(--font-size-name);
    line-height: var(--hero-greet2-line-height);
  }
  .hero .greet-third-line {
    font-family: "Single Day", Arial, Helvetica, sans-serif;
    font-size: var(--font-size-shortabout);
  }

  /* HEADER BAR*/
  .header {
    position: sticky;
    width: 100%;
    padding: 20px 0;
    background: var(--c-flagred);
  }
  .header .max-width {
    max-width: 2000px;
    padding: 1px 40px;
    margin: auto;

    /* for name */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .logo {
    color: var(--c-white);
    font-size: var(--font-size-banner-title);
    font-family: "Micro 5", Arial, Helvetica, sans-serif;
  }
  .header .name {
    padding: 5px 70px;
    color: var(--c-white);
    font-size: var(--font-size-banner-name);
    font-family: "Monofett", Arial, Helvetica, sans-serif;
  }

  /* NAVIGATION BAR */
  .top-nav {
    padding: 15px 100px;
    background: var(--c-lightgray);
  }
  .top-nav a {
    color: var(--color-text-blk);
    font-size: var(--font-size-topnav);
    font-family: "Micro 5", Arial, Helvetica, sans-serif;
  }
  .top-nav .max-width {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--top-nav-gap);
    white-space: nowrap;
  }

  /* WEB SECTIONS */
}
